#reloj{
  font-family: sans-serif;
  font-size: 65px;
  text-shadow: 0px 0px 1px #333;
  color:#fff;
}

.reloj-contenedor{
  background-color: rgb(85, 145, 194);
  padding: 50px;
  max-width: 350px;
  text-align: center;
  border-radius: 5px;
  /* centrar contenedor horizontal */
  margin: 0 auto;
  margin-top: 15%;
 
}
#fecha{
  letter-spacing: 10px;
  font-size: 15px;
}
.animar{
  border: rgb(0, 0, 0) 2px solid;
}